footer.footer
  .container
    .footer__top
        .footer__left
          a(href="#").logo.logo_footer
            img(src="img/logos/logo-footer.png" alt="cooltech logo").logo__img
            .logo__text cooltech
        .footer__right
          - var icons = ['fb', 'vk', 'tw']
            ul.socials.socials_footer
              each icon in icons
                li(class="socials__item socials__item_"+ icon)
                  a(href="#").socials__link
                    .socials__icon
          - var items = ["Планшеты", "Мобильные телефоны", "Mp3 плееры", "Персональные компьютеры", "Ноутбуки", "Аксессуары", "Бытовая Техника"]
            ul.footer__nav
              each item in items
                li.footer__nav-item
                  a(href="#").footer__nav-link= item
  .footer__bottom
    .container
      .footer__copyright All rights reserved. 2015. no copy alowed