nav.nav
    .container
        - var items = ["Планшеты", "Мобильные телефоны", "Mp3 плееры", "Персональные компьютеры", "Ноутбуки", "Аксессуары", "Бытовая Техника"]
            ul.nav__list
                each item in items
                    li(class="nav__item nav__item"+ ((item == "Мобильные телефоны") ? "_active" : ""))
                        a(href="#").nav__link= item